@{
    Layout = "_Layout_Deslogada";
    ViewData["Title"] = "Página restrita";
}

<div class="text-center">
    <h1 class="display-4">Sem autorização</h1>
    <h5>Você não tem permissão para acessar essa rota. <a asp-controller="Home" asp-action="Index">Clique aqui para voltar.</a></h5>
</div>
