@model UsuarioModel

<a class="navbar-brand" href="#">Bem-vindo, @Model.Nome</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Página Inicial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Contato" asp-action="Index">Contatos</a>
        </li>
        @if (Model.Perfil == PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Usuario" asp-action="Index">Úsuarios</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>
    </ul>
</div>